{% extends 'aplicacion/base.html' %}
{% load  %}


{% block titulo %}

Sitio de Sustrato

{% endblock titulo %}
    

{% block contenido %}
    
<table>
    <tr>
        <td width="200"><h1>Sustrato</h1></td> 
        <td>
            <a
            href="{% url 'create_substrat' %}"
            class= "btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="New Record"> </i>
            </a>
        </td>
    </tr>
</table>
<br>




 <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Tamanio</th>
            <th>Precio</th>
        </tr>
    </thead>

    <body>

        <h6>{{Titel|capfirst}} - {% now 'd / m / y' %}</h6>
        <h6>Cantidad de productos:{{sustrato_list|length}}</h6>     

         {% for s in sustrato_list   %}   
        <tr>
            <td>{{s.id}}</td>
            <td>{{s.nombre}}</td>
            <td>{{s.tamanio}}</td>
            <td>{{s.precio}}</td>
        <td>                                           
            <a
              href="{% url 'update_substrat' s.id %}" 
              class="btn btn-primary"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
            ><i class="fa fa-edit fa-sm" title="Edit Record"></i>     {% comment %}Edit es un lapicito {% endcomment %}
            </a>
            <a
              href=" {% url 'delete_substrat' s.id %}"
              class="btn btn-danger"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              ><i class="fa fa-trash fa-sm" title="Delete Record"></i> {% comment %}trash es una absura {% endcomment %}
            </a>
          </td>      
        </tr>
    {% endfor %}
        </body>
    </table>

        


        {% endblock contenido %}